@font-face {
    font-family: "lineSeed";
    font-weight: 100;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Thin.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Thin.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Thin.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Thin.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Thin.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "lineSeed";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Regular.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "lineSeed";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/lineSeed/lineSeed-Bold.ttf") format("truetype");
    font-display: swap;
} 
.lineSeed {
    font-family: "lineSeed";
}
.lineSeed100 {
    font-family: "lineSeed";
    font-weight: 100;
}
.lineSeed400 {
    font-family: "lineSeed";
    font-weight: 400;
}
.lineSeed700 {
    font-family: "lineSeed";
    font-weight: 700;
}